# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/resources/1_TR_all/
/.settings/
/src/main/resources/winutils/bin/
/src/main/resources/PacientesSim.csv